header img {
  height: 3rem;
}
header div {
  border-bottom: 1px solid cadetblue
}
.kuuhaku{
  line-height: 1;
}
.yokonarabi{
  display: flex;
  align-items: center;
}
table{
  width: 100%;
  border-spacing: 10px 10px;
  text-align: left;
}
body{
  width: 80%;
  margin: auto;
}
html{
  background-color: azure;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}